<section class="pad-lg bg-info" itemscope itemtype="https://schema.org/JobPosting">
  <h3>Vacancy: Full-time Warden</h3>
  <p itemprop="address">
    <b>
      Cambridge Jesus Lane Friends Meeting House
      12 Jesus Lane CB5 8BA
    </b>
  </p>

  <p>
    We are a busy city centre meeting house 
    seeking someone with vision and dynamism, well organised and businesslike, 
    to continue our welcoming atmosphere and promote the Quaker ethos.
    You will manage staff and volunteer Friends and support our members, attenders and hirers, some of whom are vulnerable.
  </p> 

  <p itemprop="estimatedSalary"><b>Salary:</b> £24,000-£30,000</p>

  <p itemprop="validThrough"><b>Closing date for applications:</b> 19 June 2020</p>

  <p itemprop="applicationContact">
    For an information pack or
    to arrange a visit please call
    <span itemprop="telephone">01223 357535</span>
  </p> 
</section>
