<!DOCTYPE html>
<html>

  {% include assign-meeting %}

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="alert alert-danger text-white">
        In order to help contain Covid-19 (coronavirus), all in-person Meetings for Worship are suspended for the time being.
        We are holding our worship online: please contact
        <a href="mailto:clerk@cambridgeshire-quakers.org.uk">clerk@cambridgeshire-quakers.org.uk</a> for details.
      </div>

      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
